header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px; /* altura do header */
  background-color: #eee;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  z-index: 1000;
}



header button{
        width: 10%;

}

body {
    font-family: Arial, sans-serif;
    background-color: #ea0c5f;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    width: 300px;
    margin: 25px;
    margin-top: 25px;
    margin-right: 100px;
    margin-left: -38px;
}

input {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 1px;
}

button:hover {
    background-color: #218838;
}

#message {
    margin-top: 10px;
    color: red;
    font-size: 0.9em;
}


#taskList {
  max-height: 300px; /* ou 400px, ajuste conforme quiser */
  overflow-y: auto;
  padding: 0;
  margin: 0;
  list-style-type: none;
  border: 1px solid #ccc;
  border-radius: 8px;
}

#taskList li {
  padding: 10px;
  border-bottom: 1px solid #eee;
}

#taskList li:last-child {
  border-bottom: none;
}

.logo{
margin-left: 100px  ;
}